@charset "UTF-8";
/* CSS Document */

/* Font Properties*/
	body, h3, h4, h5, h6, h7, h8, p, ul, ol, footer {

	font:"Comic Sans MS", cursive;
	text-align:left;
	font:100%;/*16px;*/}
	
	head {
	width: 80%}
		
	h1, h2 {
	text-align:center;
	text-shadow: 0.313em 0.313em 0.313em /*5px 5px 5px*/ #666;
	font-size:1.875em; /*30px;*/
}
	h2 {
	text-align:center;
	text-shadow: 0.313em 0.313em 0.313em /*5px 5px 5px*/ #666;
	font-size: 1.250em; /*20px;*/
}


/*Font Properties end*/

/*Navigation Link Properties*/
nav li {
	display:inline;
	padding: 1.250em; /*20px;*/
	text-align:right;
	
}
a:hover{
	color:#F00
	}
a:visited{
	color: #03C
}

/*Navigation Link Properties end*/

body {width: 90%;/*min-width: 996px*/
background-image:url(../images/colombiacafe.jpg);
	
	
}


/*container border*/
.container {border:medium double red;
background-color:white;
padding:1.250em; /*20px;*/
margin-left: auto;
margin-right: auto;
width: 80%; /*996px*/
overflow: hidden;
}


/*end of container border*/

/*button*/
article{

	padding: 1%;
	border: 0.125em solid;/*2px*/ 
	border-radius:1.563em; /*25px;*/
	width: 14.5%; 
	text-align:center;
	background: -moz-linear-gradient(top,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0.01) 56%, rgba(0,0,0,0) 57%);
	overflow:hidden;
	
	margin: 3.125em; /*50px;*/
}
/*button end*/

/*ul Properties*/
ul {
	list-style:decimal;}
	
	
/*ul properties end*/

	
/*properties for 1st and 2nd paragraph*/
.firstp img {
	float:right;
	padding:1.00%;
}


.secondp img {
	float:left;
	padding:1.00%;
}

.firstp {
	background: #FFC;
	margin: 0 auto;
	padding:1.00%;
	overflow: hidden;}
	
.secondp {
	background: #FFC;
	margin: 0 auto;
	padding:1.00%;
	overflow: hidden;}
/*end of images for 1st and 2nd*/


/*gallery properties*/
/*.gallery {
	background:#06C;}
*/	
.gallery ul li{ display: inline;
padding:1.0%;
}

img
{
opacity:0.9;
border:0.125em solid #000;
width:25.161%;
max-width:100%;

}
img:hover
{
opacity:1.0;
}

/*colmns*/
.leftparagraph{
/*	background:#CF6;
*/	width:32%; /*330px;*/
	float:left;
	height: 15.12096774%; /*150px;*/
	padding-right:1%; 

	}
	
.middleparagraph{
/*	background: #6CF;
*/	float: left;
	width:32%; /*330px;*/
	height: 15.12096774%; /*150px;*/

	}
	
.rightparagraph{
/*	background: #F39;
*/	float: right;
	width:32%; /*330px;*/
	height: 15.12096774%; /*150px;*/
	}		
	
	
footer {padding-top:20%; 
text-align:center;
}


/*= Media Queries
=====================================================*/

/* Tablet Portrait size to standard 960 (devices and browsers)*/
	@media screen and (min-width: 768px) and (max-width: 959px) {
		.leftparagraph, .middleparagraph, .rightparagraph {display:block; width:100%;}
		body { background-image:url(../images/colombiacafe.jpg); background-color: #FFF;}
		}
/* Mobile Landscape size to Tablet Portrait (devices and browsers)*/
	@media only screen and (min-width: 480px) and (max-width: 767px) {
		nav li { display: compact; width:90%; text-align:center;}
		.leftparagraph, .middleparagraph, .rightparagraph {display:block; width:100%;}
		body { background-image:none; background-color:#FFF;}
		.gallery { display:none;}
		}
		
/* Media Portrait size to Mobile Lanscape size (devices and browsers)*/
	@media only screen and (max-width:479px) {
		img { display:none;}
		article { display:none;}
		.leftparagraph, .middleparagraph, .rightparagraph {display:block; width:100%;}
		nav li { display:block; width:90%; text-align:center;}
		body { background-image:none; background-color:#FFF;}
		}